<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="index.css">
<div class="center">
<% include partials/header%>
<h1 style="color:White;"> Welcome to Nebula</h1>
<form method="GET" action="/property/new" id="add">
<button type="submit" class="btn btn-outline-warning" form="add" value="Submit">Add Property</button>
</form>
<ul class="list">
<% propAll.reverse().forEach(function(property){ %>
  <div>
    <%= property.name  %><br>
    <%= property.desc  %><br>
    <%= property.price  %><br>
    <%= property.dates  %><br>
    <img src="<%= property.photo  %>" style="height: 200px; width: 200px;">
  </div>
<% }) %>
</ul>
<% include partials/footer%>
</div>
