<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="index.css">
<div class="center">
<% include partials/header%>
<h1 style="color:White;"> Welcome to Nebula</h1>
<form method="GET" action="/property/new">
<input type = "submit" value="Add Property">
</form>
<ul>
<% propAll.forEach(function(property){ %>
  <div>
    <li><%= property.name  %>, <%= property.desc  %>, <%= property.price  %>, <%= property.dates  %>  </li>
    <img src="<%= property.photo  %>" style="height: 200px; width: 200px;">
  </div>
<% }) %>
</ul>
<% include partials/footer%>
</div>
