<% include partials/header%>
<h1>Welcome to Nebula</h1>
<form method="GET" action="/property/new">
<input type = "submit" value="Add Property">
</form>
<ul>
<% user.availableProperties().forEach(function(property){ %>
  <div>
    <li><%= property._details.name  %>, <%= property._details.desc  %>, <%= property._details.price  %>, <%= property._details.dates  %>  </li>
    <img src="<%= property._details.photo  %>" style="height: 200px; width: 200px;">
  </div>
<% }) %>
</ul>
<% include partials/footer%>
